
{% extends 'base/template.html' %} 
{% load static %} 
{% block content %}

<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
                      <th class="">Item Price</th>
                      <th class="">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product_id, item in cart.items %}
                    <tr class="">
                      <td class="">
                        <div class="product-info">
                          <img width="80" src="images/{{ item.image }}" alt="" />
                          <a href="#!">{{ item.name }} </a>
                        </div>
                      </td>
                      <td class="">{{ item.price }} MDL </td>
                      <td class="">
                        <a class="product-remove" href="{% url 'remove_from_cart' product_id %}">Remove</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a href="{% url 'checkout' %}" style="color:white" class="btn btn-main pull-right btn btn-main mt-20 btn-btn">Checkout</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  {% endblock %}