{% extends 'base/template.html' %} 
{% load static %} 
{% block content %}
<section class="page-wrapper success-msg mb-56  mt-56">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-check fa-beat" style="font-size: 55px;"></i>
          <h2 class="text-center font-sans Segoe-UI text-5xl pt-10">Vă mulțumim pentru cumpărături
          </h2>
          <p class="text-center font-sans Segoe-UI text-3xl pt-10">
            În curând ve-ți fi contactat de un operator
          </p>
          <a href="{% url 'shop' 'all' %}" class="font-sans Segoe-UI font-semibold btn btn-main mt-10 btn-btn mb-500"
            >Continue Shopping</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
