{% extends 'base/template.html' %} {% load static %} {% block content %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#product-slider", {
      type: "slide",
      perPage: 4, 
      focus: "center",
      gap: 12,
      autoplay: true, 
      rewind: true, 
      breakpoints: {
        1276: {
          perPage: 3, // Numărul de produse pentru afișare la dimensiuni mai mici
        },
        768: {
          perPage: 2, // Numărul de produse pentru afișare la dimensiuni mai mici
        },
        576: {
          perPage: 1, // Numărul de produse pentru afișare la dimensiuni mobile
        },
      },
    }).mount();
  });
</script>
<style>.splide__arrow{
font-size: 20px;
background-color: #EBC1C5;
opacity: 0.6;
}</style>
<div class="home-page">
  <div class="imag-background" style='background-image: url( "{% static 'images/home.jpg' %}" ); background-position: center; '>
  <div
    class="container-home flex-column align-items-center justify-content-center ml-20"
  >
    <div class="row-home">
      <p>PRODUCTS</p>
      <h1 class="font-sans Segoe-UI text-center">
        The beauty of nature <br />
        is hidden in details.
      </h1>
      <a class="btn font-sans Segoe-UI" href="{% url 'shop' 'all' %}">
        <span class="font-sans Segoe-UI font-semibold">Shop Now</span></a
      >
    </div>
  </div>
</div>
<div class="bg-gr bg-gray-50">
  <section class="products">
    <div class="container py-40 mt-0">
      <div class="row">
        <div class="title text-center">
          <h2 class="text-4xl" style="font-family: Inter">
            <span style="font-family: Inter">Trendy Products</span>
          </h2>
        </div>
      </div>
      <div class="splide" id="product-slider">
        <div class="splide__track">
          <ul class="splide__list">
            {% for product in products %} 
            {% if bestseller == true %}
            <li class="splide__slide">
              <a href="{% url 'product' product.id %}">
                <div class="product-item">
                  <div class="product-thumb">
                    {% with product.image.first as first_image %} 
                    {% if first_image %}
                    <img
                      class="img-responsive"
                      src="{{ first_image.image.url }}"
                      style="width: 360px; height: 450px"
                      alt="product-img"
                    />
                    {% endif %} 
                    {% endwith %}
                  </div>
                  <div class="product-content mt-2 flex gap-3">
                    <h4>
                      <a
                        href="{% url 'product' product.id %}"
                        style="color: black; font-family: Popins"
                        class="product-name font-sans Segoe-UI"
                        ><span
                          class="text-3xl opacity-80"
                          style="font-family: Inter"
                          >{{ product.name }}</span
                        ></a
                      >
                    </h4>
                    <p class="price" style="font-family: Inter">
                      {{ product.price}} MDL
                    </p>
                  </div>
                </div>
              </a>
            </li>
            {% endif %} 
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
