<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>lookfeminine</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css\reset.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}"
    />

    <script defer src="{% static 'JS/script.js' %}"></script>
    <script src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css\style.css' %}"
    />
  </head>

  <body>
    <div class="header">
      <div class="up-header">
        <div class="center-header flex justify-center ml-12">
          <div class="logo">
            <a href="{% url 'home'  %}"
              ><img
                class="logo-img"
                src="{% static 'images/logo.png' %}"
                style="width: 250px; height: 60px"
            /></a>
          </div>
        </div>
        <div class="right-header">
          <div class="cart">
            <a href="{% url 'cart' %}">
              <div class="relative ">
                <i class="fa-solid fa-cart-shopping rounded-xl bg-gray-300 "></i>
                <span
                  class="cart-count font-sans Segoe-UI absolute text-2xl bottom-0 right-0 text-white "
                >
                  {% if request.session.cart %} 
                  {{ request.session.cart|length}} 
                  {% else %} 0 
                  {% endif %}
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="down-header">
        <ul class="navbar">
          <li>
            <a href="{% url 'home'  %}" class="font-sans Segoe-UI">Home</a>
          </li>
          <li>
            <a href="{% url 'shop' 'all'%}" class="font-sans Segoe-UI"
              >Products</a
            >
          </li>
          <li>
            <a href="{% url 'shop' 'normal' %}" class="font-sans Segoe-UI"
              >Normal Size</a
            >
          </li>
          <li>
            <a href="{% url 'shop' 'large' %}" class="font-sans Segoe-UI"
              >Plus Size</a
            >
          </li>
        </ul>
      </div>
    </div>
    {% block content %} {% endblock %}
    <footer class="footer section text-center static bottom-0 w-full">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="social-media">
              <li>
                <a href="">
                  <i
                    class="fa-brands fa-facebook-f"
                    style="font-size: 20px"
                  ></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa-brands fa-instagram" style="font-size: 23px"></i>
                </a>
              </li>
            </ul>
            <ul class="footer-menu text-uppercase">
              <li>
                <a href="{% url 'home' %}" class="font-sans Segoe-UI">home</a>
              </li>
              <li>
                <a href="{% url 'shop' 'all' %}" class="font-sans Segoe-UI"
                  >products</a
                >
              </li>
              <li>
                <a href="{% url 'shop' 'normal' %}" class="font-sans Segoe-UI"
                  >normal size</a
                >
              </li>
              <li>
                <a href="{% url 'shop' 'plus' %}" class="font-sans Segoe-UI"
                  >plus size</a
                >
              </li>
            </ul>
            <p class="copyright-text">
              <span class="font-sans Segoe-UI opacity-50">
                Copyright &copy;2023 | lookfeminine</span
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
